<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Heaven | B & B </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
</head>
<body>
<nav id="main-nav">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="#an_rooms">rooms</a></li>
    <li><a href="#an_attractions">attractions</a></li>
    <li><a href="#an_reservation">reseration</a></li>
    <li><a href="#an_contact">contact</a></li>
  </ul>
</nav>
<header id="showcase">
  <h1>Welcome in <span>Heaven</span> Bed & Breakfest</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus reiciendis deserunt animi vero eligendi tenetur exercitationem laboriosam aspernatur, quaerat ad?</p>
  <a href="#an_rooms" class="button">Welcome</a>
</header>

<!--  ROOMS SECTION  -->
<div class="title"><h2 a id="an_rooms" >Our Rooms</h2></div>
<section a id="rooms">
  <div class="room-flex">
      <div class="room-box room1">
        <div class="desc-name"><h3>Room 1 </h3> <p>  (30 m&sup2)</p></div>
        <div class="rooms-show">
            <img src="/img/room1.jpg" alt="">
            <img src="/img/room3.jpg" alt="">
            <img src="/img/appt2.jpg" alt="">
            <img src="/img/appt1.jpg" alt="">
        </div>
        <div class="desc">
          <ul>  
            <li>One King bed or two twin beds</li>
            <li>Bathroom, TV, Balcony</li>
            <li>2 Adults or 2 Adults and 1 child</li>
          </ul>
          <p>Price 100$</p>
        </div>
      </div>
      <div class="room-box room2">
          <div class="desc-name"><h3>Room 2 </h3> <p>  (40-55 m&sup2)</p></div>
          <div class="rooms-show">
              <img src="/img/appt3.jpg" alt="">
              <img src="/img/room2.jpg" alt="">
              <img src="/img/room1.jpg" alt="">
              <img src="/img/room3.jpg" alt="">
          </div>
          <div class="desc">
              <ul>  
                  <li>One King bed and one twin bed</li>
                  <li>Bathroom, TV, Balcony</li>
                  <li>3 Adults or 2 Adults and 2 child</li>
                  
              </ul>
              <p>Price 150$</p>
            </div>
      </div>
      <div class="room-box room3">
          <div class="desc-name"><h3>Room 3 </h3> <p>  (50-60 m&sup2)</p></div>
          <div class="rooms-show">
              <img src="/img/room3.jpg" alt="">
              <img src="/img/room1.jpg" alt="">
              <img src="/img/room2.jpg" alt="">
              <img src="/img/appt3.jpg" alt="">
          </div>
          <div class="desc">
              <ul>  
                  <li>One King bed and two single beds</li>
                  <li>Bathroom, TV, Balcony</li>
                  <li>4 Adults or 2 Adults and 2 child</li>
              </ul>
              <p>Price 175$</p>
            </div>
      </div>
  </div>
  <div class="apart-flex">
    <div class="apart-box appt1">
        <div class="desc-name"><h3>Apartment 1 </h3> <p>  (100 m&sup2)</p></div>
      <div class="rooms-show">
          <img src="/img/appt0.jpg" alt="">
          <img src="/img/appt6.jpg" alt="">
          <img src="/img/appt3.jpg" alt="">
          <img src="/img/appt5.jpg" alt="">
      </div>
      <div class="desc">
          <ul>  
              <li>Two bedrooms and living room</li>
              <li>Two King beds and two beds</li>
              <li>Bathroom, TV, Balcony</li>
              <li>3 Adults or 2 Adults and 2 child</li>
          </ul>
          <p>Price 300$</p>
        </div>
    </div>
    <div class="apart-box appt2">
        <div class="desc-name"><h3>Apartment 2 </h3> <p>  (160 m&sup2)</p></div>
        <div class="rooms-show">
            <img src="/img/appt1.jpg" alt="">
            <img src="/img/appt2.jpg" alt="">
            <img src="/img/appt4.jpg" alt="">
            <img src="/img/appt3.jpg" alt="">
        </div>
        <div class="desc">
            <ul>  
                <li>Two bedrooms and living room</li>
                <li>Two King beds and two beds</li>
                <li>Bathroom, TV, Balcony</li>
                <li>4 Adults or 4 Adults and 2 child</li>
            </ul>
            <p>Price 400$</p>
          </div>
      </div>
  </div>
</section>

<!-- ATTRACTION SECTION -->

<div class="title"><h2 a id="an_attractions">Attractions</h2></div>
<section a id="attractions">
  <div class="attr-box">
    <div>
      <img src="img/horse.jpg" alt="Horse image">
    </div>
    <div>
      <h3>Horse Riding</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sunt animi quis soluta doloribus quibusdam suscipit autem saepe quos adipisci.</p>    
    </div>
    </div>
  <div class="attr-box">
    <div>
      <img src="img/relax.jpg" alt="Relax image">
    </div>
    <div>
      <h3>Relax with nature</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sunt animi quis soluta doloribus quibusdam suscipit autem saepe quos adipisci.</p>    
    </div>
    </div>
  <div class="attr-box">
    <div>
      <img src="img/beach.jpg" alt="Beach image">
    </div>
    <div>
      <h3>Visit beach</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sunt animi quis soluta doloribus quibusdam suscipit autem saepe quos adipisci.</p>    
    </div>
    </div>
  <div class="attr-box">
    <div>
      <img src="img/hike.jpg" alt="Hike">
    </div>
    <div>
      <h3>Hike the mountains</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim sunt animi quis soluta doloribus quibusdam suscipit autem saepe quos adipisci.</p>    
    </div>
    </div>
</section>


<!--  RESERVATION SECTION  -->

<div class="title"><h2 a id="an_reservation">Reservation</h2></div>
<section a id="reservation">
  <h3>Ask for availability</h3>
  <form action="#">
    <div id="names">
        <div id="names-form">
            <label for="name">Name</label><br>
            <input type="text" placeholder="Enter name"><br>
            <label for="email">Email</label><br>
            <input type="email" placeholder="Enter email"><br>
        </div>
        <div id="dates-form">
            <label for="inDate">Arrival day</label><br>
            <input type="date" name="inDate"><br>
            <label for="outDate">Departure day</label><br>
            <input type="date" name="outDate"><br>
        </div>
    </div>
    <div id="msg">
        <label for="question">Message</label><br>
        <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea><br>
        <button class="submit-btn">Send</button>
    </div>
  </form>
</section>


<!--  CONTACT SECTION  -->

<div class="title"><h2 a id="an_contact">How to find our Heaven B&B</h2></div>
<section id="contact">
  <div class="phone">
      <div class="street">
        <p>
          Plac Bankowy 3/5,<br>
          00-950 Warszawa<br>
          <a href="tel:555-548-5692"><i class="fas fa-phone-square"></i> | (555)-548-5692</a>
        </p>  
      </div>
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a> 
        <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://tripadvisor.com" target="_blank"><i class="fab fa-tripadvisor"></i></a>
        
      </div>
  </div>
  <div class="maps">
      <div id="map">
      </div>
  </div>
</section>
  
<footer>
  <p>Copyright &copy; 2018 Heaven B&B | Looshyo</p>
</footer>



<!-- SCRIPT GOOGLE MAPS  -->


  <script>
    function initMap() {
  // The GPS LAT & LNG
  var mgps = {lat: 52.242032, lng: 21.002286};
  // The map, centered at GPS position
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: mgps});
  // The marker, position center
  var marker = new google.maps.Marker({position: mgps, map: map});
}
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVnDNpTdDjjrGAi5-jUXyCVkcqSYyb6d4&callback=initMap"></script>
</body>
</html>