
/* **** GLOBAL **** */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, helvetica, sans-serif;
  font-size: 17px;
  color: #ffffff;
  line-height: 1.6;
}

.title {
  display:flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: rgba(138, 136, 136, 0.1);
  text-align: center;
  margin: auto;
  padding: 15px;
  height: 100px;
  text-transform: uppercase;
  margin: 15px 0 15px 0;
}

.title h2 {
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 10px 0 10px 0;
  /* background: rgb(218, 218, 218); */
  width: 60%;
}


/* **** NAVIGATION **** */


#main-nav {
  background: rgba(255,255,255,0.8);
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

#main-nav li {
  display: inline;
  padding: 20px;
}

#main-nav li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

#main-nav li a:hover {
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

/* **** LANDING PAGE **** */


#showcase {
  background-image: url(../img/main.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
  }

  #showcase h1 {
    font-size: 50px;
    text-shadow: 5px 10px 10px #000;
  }

  #showcase h1 span {
    color: rgb(152, 198, 250);
  }

  #showcase p {
    font-size: 20px;
    text-shadow: 5px 10px 10px #000;
  }

  #showcase .button {
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 0.7rem 2.5rem;
    color: #fff;
    margin-top: 30px;
  }

  #showcase .button:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
    transition: all ease-in 0.2s;
  }


/* **** ROOMS SECTION **** */

#rooms {
  margin: 30px auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.desc-name h3,
.desc-name p {
  display: inline-block;
}

.desc ul {
  list-style-type: none;
}

.desc p {
  margin-top: 10px;
  font-weight: bold;
}
.rooms-show {
 display: flex;
 flex-wrap: wrap;
}

.rooms-show div {
  display: block;
  flex: 47%;
  /* padding: 5px; */
}

.rooms-show a {
  margin:0;
  padding:0;
}

.rooms-show div > a > img {
  display: block;
  width: 96%;
  margin: 4px;
}

.room-flex {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.room-box {
  padding: 20px;
  margin: 0 10px;
  /* width: 30%; */
  color: #000;
  display: flex;
  flex-direction: column;
}

.apart-flex {
  margin-top: 20px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apart-box {
  padding: 20px;
  margin: 0 10px;
  /* width: 45%; */
  color: #000;
  display: flex;
  flex-direction: column;
  }

/* .apart-box > div >img,
.room-box > div >img  {
  width: 47%;
} */



/* **** ATTRACTION SECTION **** */

#attractions {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.attr-box {
  margin: 15px;
  padding: 10px;
  color: #000;
  flex: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.attr-box > div >img {
  width: 100%;
}




/* **** RESERVATION FORM SECTION **** */

#reservation {
  margin: auto;
  text-align: center;
  color: #000;
  width: 80%;
}

#reservation h3 {
  margin-bottom: 20px;
}


#reservation form {
  display:flex; 
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
}

#reservation #names {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

#names-form,
#dates-form {
  width: 50%;
}

#reservation #names label {
  margin: 10px;
}

#reservation #names input {
  margin: 10px;
  padding: 5px;
  width: 60%;
  height: 30px;
  border: solid 1px rgb(119, 119, 119);
  border-radius: 7px;
}
#reservation #msg textarea {
  margin: 10px;
  padding: 5px;
  width:75%;
  height: 30%;
  border: solid 1px rgb(119, 119, 119);
  border-radius: 7px;
}

#reservation #msg {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  text-align: center;
  width: 60%;
  height: 40px;
  border: solid 1px rgb(176, 176, 176);
  background: rgb(176, 176, 176);
  border-radius: 7px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.submit-btn:hover {
  border: solid 1px rgb(126, 126, 126);
  background: rgb(126, 126, 126);
  transition: all .2s ease-in-out; 
}

/* **** CONTACT SECTION **** */

#contact {
  display: flex;
  width: 80%;
  color: #000;
  margin: auto;
  align-items: center;
  justify-content: center;
  line-height: 1.7;
}

.street {
  margin: auto;
  padding-bottom: 10px;
  width: 200px;
  border-bottom: #000 dashed 1px;
}

.street a {
  color: #000;
  text-decoration: none;
}

.social-icons {
  padding: 10px;
  text-align: center;
  font-size: 40px;
}

.social-icons a {
  text-decoration: none;
  color: #000;
  margin: 0 10px 0;
  transition: all .2s ease-in-out; 
}

.social-icons a:hover {
  color: #666;
}


.phone {
  flex: 45%;
  text-align: center;
  width: 200px;
}

.maps {
  flex: 45%;
  float: right;
}
#map {
  width: 400px;
  height: 400px;
}


/* **** FOOTER **** */

footer {
  background: #666;
  font-size: 13px;
  text-align: right;
  color: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
}

@media (min-width: 830px) and (max-width: 1178px) {
  body {
    font-size: 17px;
    line-height: 1.4;
  }


  #main-nav {
    font-size: 15px;
  }

  #showcase h1 {
    font-size: 42px;
    text-shadow: 5px 5px 5px #000;
  }

  #showcase p {
    font-size: 18px;
    text-shadow: 5px 5px 5px #000;
  }


  #map {
    width: 400px;
    height: 400px;
  }
}


@media (min-width: 560px) and (max-width: 829px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }

  #main-nav {
    font-size: 14px;
  }

  #main-nav li {
    padding: 10px;
  }

  .title {
    padding: 10px;
    height: 35px;
  }
  
  .title h2 {
    font-size: 30px;
    margin: 10px 0 10px 0;
  }

  #main-nav {
    font-size: 15px;
  }

  #showcase h1 {
    font-size: 35px;
    text-shadow: 5px 5px 5px #000;
  }

  #showcase p {
    font-size: 15px;
    text-shadow: 5px 5px 5px #000;
  }

  #showcase .button {
    padding: 0.5rem 2.0rem;
    margin-top: 20px;
  }

  #contact {
    line-height: 1.4;
  }
  
  .social-icons {
    padding: 7px;
    font-size: 25px;
  }

  #map {
    width: 300px;
    height: 300px;
  }
  
}

@media (max-width: 559px) {
  body {
    font-size: 14px;
    line-height: 1.4;
  }

  #main-nav {
    font-size: 13px;
  }

  #main-nav li {
    padding: 5px;
  }

  #showcase h1 {
    font-size: 25px;
    text-shadow: 5px 5px 5px #000;
  }

  #showcase p {
    font-size: 12px;
    margin-top: 7px;
    text-shadow: 5px 5px 5px #000;
  }

  #showcase .button {
    padding: 0.5rem 2.0rem;
    margin-top: 20px;
  }

  #rooms {
    display: flex;
  }
  
  .room1 {
    background-image: url(/img/room1.jpg);
    background-position: center;
    background-size: cover;
  }

  .room2 {
    background-image: url(/img/room2.jpg);
    background-position: center;
    background-size: cover;
  }

  .room3 {
    background-image: url(/img/room3.jpg);
    background-position: center;
    background-size: cover;
  }

 .appt1 {
   background-image: url(/img/appt3.jpg);
   background-position: center;
   background-size: cover;
 }

 .appt2 {
  background-image: url(/img/appt4.jpg);
  background-position: center;
  background-size: cover;
}
  
  .apart-box > div >img,
  .room-box > div >img  {
    display:none;
  }

  #attractions {
    display: flex;
  }

  .attr-box {
    flex: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .attr-box div {
    flex: 50%;
    padding: 15px;
  }

  .attr-box h3{
    font-size: 20px;
  }

  .attr-box p {
    font-size: 10px;
  }

  #contact {
    line-height: 1.4;
  }

  .street {
    font-size: 12px;
  }
  
  .social-icons {
    padding: 7px;
    font-size: 20px;
  }

  #map {
    width: 150px;
    height: 150px;
  }
  
}